# Eclipse project files
.classes/

# IDEs and editors
.idea/
.c9/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# other files
.gradle/
build/

# generated source
srcGen/

# compiled output
dist/
tmp/
out-tsc/

# dependencies
node_modules/

# profiling files
chrome-profiler-events.json
speed-measure-plugin.json

# misc
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
