<!--
  node-details.component.html
 
  Copyright by proserium, all rights reserved.
  MIT License: https://mit-license.org
 -->

<!--
   debian-10.0.0-amd64

CPU usage 3.03% of 1 CPU(s)

Memory usage 4.18% (209.10 MiB of 4.88 GiB)

SWAP usage 0.00% (0 B of 512.00 MiB)

Bootdisk size 46.18% (5.43 GiB of 11.75 GiB)
 -->
<h1>highperformance-2</h1>
<mat-chip-list>
  <!-- Node:alias -->
  <mat-chip>highperformance-2</mat-chip>
  <!-- Node:name -->
  <mat-chip>ds-12-3-1</mat-chip>
  <!--OperationSystemInformation-->
  <mat-chip>debian-10.1.0</mat-chip>
  <!-- UserInformation -->
  <mat-chip>micmine</mat-chip>
</mat-chip-list>

<h2>Status Information</h2>

<table class="status-information">
  <tr>
    <td>
      <p>Operating system</p>
    </td>
    <td>
      <p>debian-10.1.0</p>
    </td>
  </tr>
  <tr>
    <td>
      <p>Uptime</p>
    </td>
    <td>
      <p>16 days, 23 hours, 20 mins</p>
    </td>
  </tr>
  <tr>
    <td>
      <p>CPU usage</p>
    </td>
    <td>
      <p>4.18%</p>
    </td>
  </tr>
  <tr>
    <td>
      <p>Memory usage</p>
    </td>
    <td>
      <p>4.18%</p>
    </td>
  </tr>
  <tr>
    <td>
      <p>Disk usage</p>
    </td>
    <td>
      <p>46.18%</p>
    </td>
  </tr>
</table>

<h2>Hardware Information</h2>

<table class="hardware-information">
  <tr>
    <td>
      <p>Cpu</p>
    </td>
    <td>
      <p>2</p>
    </td>
  </tr>
  <tr>
    <td>
      <p>Core</p>
    </td>
    <td>
      <p>32</p>
    </td>
  </tr>
  <tr>
    <td>
      <p>Ram</p>
    </td>
    <td>
      <p>128 GB</p>
    </td>
  </tr>
  <tr>
    <td>
      <p>Disk</p>
    </td>
    <td>
      <p>1 T</p>
    </td>
  </tr>
</table>

<h2>Network Information</h2>

<table class="network-information">
  <tr>
    <td>
      <p>name</p>
    </td>
    <td>
      <p>secure-1</p>
    </td>
  </tr>
  <tr>
    <td>
      <p>mac</p>
    </td>
    <td>
      <p>00-14-22-01-23-45</p>
    </td>
  </tr>
  <tr>
    <td>
      <p>ip
    </td>
    <td>
      <p>192.168.178.53</p>
    </td>
  </tr>
  <tr>
    <td>
      <p>netmask</p>
    </td>
    <td>
      <p>255.255.255.0</p>
    </td>
  </tr>
  <tr>
    <td>
      <p>broadcast</p>
    </td>
    <td>
      <p>192.168.178.255</p>
    </td>
  </tr>
  <tr>
    <td>
      <p>gateway</p>
    </td>
    <td>
      <p>192.168.178.1</p>
    </td>
  </tr>
  <tr>
    <td>
      <p>mtu</p>
    </td>
    <td>
      <p>9192</p>
    </td>
  </tr>
</table>
