<h1>Add Service</h1>
<mat-horizontal-stepper [linear]="false" #stepper>
  <mat-step [stepControl]="template">
    <form [formGroup]="template">
      <ng-template matStepLabel>template</ng-template>
      <mat-form-field>
        <mat-select placeholder="Teamplate" frormControlName="templateControl">
          <mat-option value="option">Apache</mat-option>
          <mat-option value="option">nginx</mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="scedule">
    <form [formGroup]="scedule">
      <ng-template matStepLabel>scedule</ng-template>
      <mat-slide-toggle (toggleChange)="toggleScedule($event)">Enable sceduling</mat-slide-toggle>
      <div *ngIf="doScedule">
        <h3>scedule is enabled</h3>
      </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <h3>Here is some info about the service you added</h3>
  </mat-step>
</mat-horizontal-stepper>
