<!--
  service-details.component.html
 
  Copyright by proserium, all rights reserved.
  MIT License: https://mit-license.org
 -->
 <h1>webserver-proserium.net-1</h1>
 <mat-chip-list>
   <!-- URL:hostname -->
   <mat-chip>proserium.net</mat-chip>
   <!-- Service:id -->
   <mat-chip>web-84637</mat-chip>
 </mat-chip-list>
 <table>
   <tr>
     <td>
       <p>ID</p>
     </td>
     <td>
       <p>web-84637</p>
     </td>
   </tr>
   <tr>
     <td>
       <p>Name</p>
     </td>
     <td>
       <p>webserver-proserium.net-1</p>
     </td>
   </tr>
   <tr>
     <td>
       <p>Url</p>
     </td>
     <td>
       <a href="http://proserium.net:80">http://proserium.net:80</a>
     </td>
   </tr>
 </table>
