/*
 * list-node.component.scss
 *
 * Copyright by proserium, all rights reserved.
 * MIT License: https://mit-license.org
 */
mat-card {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.debian {
  background-image: url('https://www.debian.org/logos/openlogo-nd-100.jpg');
  background-size: cover;
}

.centos {
  background-image: url('https://cdn.freebiesupply.com/logos/thumbs/2x/centos-1-logo.png');
  background-size: cover;
}
