<mat-card [routerLink]="['/nodes']">
  <mat-card-header>
    <div class="debian" mat-card-avatar></div>

    <mat-card-title>
      debian-1
    </mat-card-title>
    <mat-card-subtitle>
      version: debian-10.0.0-amd64
    </mat-card-subtitle>
    <mat-card-content>
      <p>CPU usage 3.03% of 1 CPU(s)</p>
      <p>Memory usage 4.18% (209.10 MiB of 4.88 GiB)</p>
      <p>SWAP usage 0.00% (0 B of 512.00 MiB)</p>
      <p>Bootdisk size 46.18% (5.43 GiB of 11.75 GiB)</p>
    </mat-card-content>
  </mat-card-header>
</mat-card>
<mat-card [routerLink]="['/nodes']">
  <mat-card-header>
    <div class="debian" mat-card-avatar></div>

    <mat-card-title>
      debian-2
    </mat-card-title>
    <mat-card-subtitle>
      version: debian-10.0.0-amd64
    </mat-card-subtitle>
    <mat-card-content>
      <p>CPU usage 4.11% of 3 CPU(s)</p>
      <p>Memory usage 2.75% (164.71 MiB of 5.86 GiB)</p>
      <p>SWAP usage 0.00% (0 B of 512.00 MiB)</p>
      <p>Bootdisk size 6.59% (1.61 GiB of 24.48 GiB)</p>
    </mat-card-content>
  </mat-card-header>
</mat-card>
<mat-card [routerLink]="['/nodes']">
  <mat-card-header>
    <div class="centos" mat-card-avatar></div>

    <mat-card-title>
      centos-1
    </mat-card-title>
    <mat-card-subtitle>
      version: 7.6.1810
    </mat-card-subtitle>
    <mat-card-content>
      <p>CPU usage 0.15% of 3 CPU(s)</p>
      <p>Memory usage 0.37% (30.18 MiB of 8.00 GiB)</p>
      <p>SWAP usage N/A</p>
      <p>Bootdisk size 0.80% (798.83 MiB of 97.93 GiB)</p>
    </mat-card-content>
  </mat-card-header>
</mat-card>

<mat-card [routerLink]="['/nodes']">
  <mat-card-header>
    <div class="centos" mat-card-avatar></div>

    <mat-card-title>
      centos-2
    </mat-card-title>
    <mat-card-subtitle>
      version: 7.6.1810
    </mat-card-subtitle>
    <mat-card-content>
      <p>CPU usage 5.31% of 1 CPU(s)</p>
      <p>Memory usage 1.96% (20.08 MiB of 1.00 GiB)</p>
      <p>SWAP usage N/A</p>
      <p>Bootdisk size 67.85% (1.29 GiB of 1.91 GiB)</p>
    </mat-card-content>
  </mat-card-header>
</mat-card>
