<mat-toolbar color="primary">
  <span>Proserium</span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <nav>
    <button [routerLink]="['/']" mat-button>Dashbaord</button>
    <button [routerLink]="['/services']" mat-button>My Services</button>
    <button [routerLink]="['/nodes']" mat-button>Nodes</button>
    <button [routerLink]="['/add']" mat-button><mat-icon>add</mat-icon></button>
  </nav>
  <router-outlet></router-outlet>

</mat-toolbar>
<router-outlet></router-outlet>
